body {
  background: linear-gradient(
    103deg,
    rgb(235, 225, 188) 7.2%,
    rgb(232, 188, 234) 57.5%,
    rgb(203, 209, 244) 90.7%
  );

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}
li {
  font-size: 16px;
  color: #38598b;
  list-style: none;
}

ul {
  padding: 0px 0px;
}
h1 {
  padding: 10px 0px;
}
h2 {
  padding: 10px 0px;
}
span#humidity {
  color: #113f67;
}
span#wind {
  color: #113f67;
}
span#pressure {
  color: #113f67;
}
span#probability-precipitation {
  color: #113f67;
}
.container {
  border-radius: 20px;
  padding: 20px 20px;
  background: white;
  color: #113f67;
  box-shadow: 10px 10px 70px #a2a8d3;
  margin: 5% auto;
}

.temperature {
  display: inline-block;
  font-size: 60px;
  align-content: center;
  font-weight: 400;
  padding: 5px 0;
  margin: auto;
}
.units {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -35px;
}

.units-degree {
  color: #113f67;
  text-decoration: none;
  cursor: pointer;
}
.units-degree:hover {
  color: #38598b;
}

.selected {
  color: #a2a8d3;
  cursor: default;
  pointer-events: none;
}
.selected:hover {
  color: #a2a8d3;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.search:hover {
  background-color: #e7eaf6;
  border: 2px solid #e7eaf6;
}

.search:focus {
  background-color: #e7eaf6;
  border: 2px solid #e7eaf6;
}
.search {
  background-color: #a2a8d3;
  color: #113f67;
  border: 2px solid #a2a8d3;
}
.location:hover {
  background-color: #e7eaf6;
  border: 2px solid #e7eaf6;
}

.location:focus {
  background-color: #e7eaf6;
  border: 2px solid #e7eaf6;
}
.location {
  background-color: none;
  color: #113f67;
  border: 2px solid #a2a8d3;
}

.search-input {
  border: 2px solid #a2a8d3;
  border-radius: 5px;
  padding: 6px 12px;
  color: #113f67;
  width: 100%;
}
.search-input:focus {
  outline: none;
}

.coded-by {
  text-align: left;
  color: #113f67;
  font-size: 14px;
}

.social {
  color: #38598b;
  text-decoration: none;
  padding-right: 5px;
}
.social:hover {
  color: #a2a8d3;
}
.footer-social {
  text-align: right;
}

.metrics-description {
  margin: auto;
  padding: 5px 12px;
}
.form-input {
  padding: 0px 5px;
}
.weather-forecast-date {
  text-align: center;
}
.weather-forecast-temperature {
  text-align: center;
  font-size: 14px;
}
.weather-forecast-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80px;
}

.weather-forecast-temperature-min {
  color: #38598b;
}
/*for mobile devices*/
@media only screen and (min-width: 300px) {
  [class*="col-"] {
    width: 100%;
  }
  .col-2 {
    margin-top: 10%;
  }

  .metrics-description {
    text-align: center;
  }
  .container {
    max-width: 90%;
  }
  .footer {
    text-align: center;
  }
  .footer-social {
    text-align: center;
  }
  #current-city {
    text-align: center;
  }
  .info-box {
    text-align: center;
    margin-top: 5%;
  }
  .form-input {
    margin-top: 5%;
  }
  .temperature {
    text-align: center;
    margin-top: 1%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .container {
    max-width: 50%;
    margin: 5% auto;
    padding: 20px 20px;
  }
  .col-2 {
    margin-top: 1%;
  }

  .metrics-description {
    text-align: left;
  }

  .footer {
    text-align: left;
  }
  .footer-social {
    text-align: right;
  }
  #current-city {
    text-align: left;
  }
  .info-box {
    text-align: left;
    margin-top: 1%;
  }
  .form-input {
    margin-top: 1%;
  }
  .temperature {
    text-align: left;
    margin-top: 1%;
  }
}
